<div>
    <h1 class="author__heading">Hi, I am Darvesh.</h1>
    <p class="author__body">Web developer and Blogger.</p>
</div>
<img src="/img/author.jpg" alt="Author" class="hero__img" width="600" height="375">
<section class="articles">
<h2 class="articles__heading">Latest Posts</h2>
<ul class="articles-ul">
    <l1>
        <a href="#">
        <span>Post Title</span>
        <span class="article-list__date">Date</span>
        </a>
    </l1>
    <br>
   
</ul>
<a href="#" class="pagination">&lt; View Older Posts</a>
</section>